/* .module {
  border: 1px solid #d8d9db;
  border-radius: 5px;
  box-shadow: 0 0 1px lightgrey;
} */

.Place {
  margin: 25px;
  /* padding: 25px; */
  padding-bottom: 15px;
  /* max-width: 750px; */
  /* max-width: 800px; */
  /* padding: 25px; */
  text-align: left;
  border-bottom: 1px solid lightgrey;
}

.Place:first-of-type {
  margin-top: 0;
}

.Place > * {
  margin: 0;
}

.Place-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.Place-info {
  flex: 3;
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 15px 0;
}

.Place-name {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
}

.Place-nearest-town {
  margin: 0;
  font-weight: 500;
}

.Place-photo {
  flex: 2;
  border: 1px solid black;
  height: 150px;
}

.Place-routes-label {
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  font-weight: 500;
  font-size: 25px;
}

.Place-divider {
  border-style: none;
  border-bottom: 1px solid #d8d9db;
  margin: 5px 0 10px 0;
}

.Place-routes-container {
  /* border: 1px solid white; */
  /* box-shadow: 0 0 2px lightgrey inset; */
  /* padding: 10px; */
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* overflow-x: auto; */
}