.Route {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;
  position: relative;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 2px 4px 7px 0px #888888;
  &:last-child {
    margin-bottom: 0;
  }
}

.Route-name {
  font-size: 25px;
  margin: 3px 0 15px 0; 
}

.Route-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  padding-left: 21px;
}

.Route-name {
  color: #393939;
  font-size: 20px;
  margin: 0 0 5px 0; 
}

.Route-info-container h6 {
  color: grey;
  margin: 0;
}

section h6 span {
  font-size: 15px;
  font-weight: 300;
}

.Route-field {
  font-weight: 400;
}

.Route-favorite-button {
  color: #d3d3d3;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  &:hover {
    color: #D93A45;
  }
}

.favorited {
  color: #D93A45;
}