.Route {
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.Route-name {
  margin: 3px 0 15px 0; 
  font-size: 25px;
}

.Route-info-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  // ! help
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Route-name {
  margin: 0 0 5px 0; 
  font-size: 20px;
  color: #393939;
}

.Route-info-container h5 {
  font-size: 15px;
  // margin: 0 0 0 20px;
  margin: 0;
  color: grey;
}

section h6 span {
  font-size: 16px;
  font-weight: 500;
}

.Route-type {
  text-transform: capitalize;
  padding-bottom: 11px;
}

.Route-favorite-button {
  cursor: pointer;
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 10px;
  color: lightgrey;
  &:hover {
    color: #D93A45;
  }
}

.favorited {
  color: #D93A45;
}