.Route {
  /* border: 1px solid #d8d9db; */
  border-radius: 3px;
  /* margin-right: 10px; */
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  /* height: 200px; */
  &:last-child {
    margin-bottom: 0;
  }
}

.Route-name {
  margin: 3px 0 15px 0; 
  font-size: 25px;
}

.Route-info-container {
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #c1aeae59;
}


.Route-info-container > * {
  font-size: 17px;
  /* line-height: 25px; */
  margin: 0 0 5px 25px;
}

section h6 span {
  font-size: 16px;
  font-weight: 500;
}

.Route-type {
  text-transform: capitalize;
  padding-bottom: 11px;
}

.Route-favorite-button {
  cursor: pointer;
  position: absolute;
  font-size: 27px;
  top: 3px;
  right: 0;
}

.favorited {
  color: red;
}