.SideBar {
  grid-column-end: 2;
  grid-column-start: 1;
  height: 740px;
  box-shadow: 0 0 3px rgba(33, 25, 25, 0.42);
}

.SideBar-filter-form {
  text-align: center;
}

.Sidebar-category {
  border-radius: 5px;
  border: 0;
  font-size: 17px;
  margin: 10px 0;
  padding: 0;
  text-align: left;

  & input {
    margin: 0 10px 0 0;
  }

  & > div,
  & > select {
    align-items: center;
    display: flex;
    margin: 10px 20px;
  }
}

.SideBar fieldset select {
  height: 30px;
  width: 173px;
  box-shadow: 1px 0px #888888;
}

.SideBar-category-label {
  font-size: 20px;
}

.Sidebar-form-submit-btn {
  background-color: orange;
  border-radius: 100px;
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 35px;
  text-transform: uppercase;
  transition: width 0.25s;
  width: 50%;
  &:hover {
    width: 55%;
    background-color: #4e3a1b;
  }
  &:focus {
    outline: transparent;
  }
}