.SideBar {
  /* box-shadow: 0 0 1px lightgrey; */
  grid-column-end: 2;
  grid-column-start: 1;
  height: 700px;
  box-shadow: 0 0 3px rgba(33, 25, 25, 0.42);
}

.SideBar legend {
  font-size: 20px;
}

.SideBar fieldset {
  font-size: 17px;
  border: 0;
  padding: 0;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
}

.SideBar fieldset select {
  height: 40px;
}

.SideBar fieldset > div,
.SideBar fieldset > select {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  width: 178px;
}

.SideBar fieldset input {
  margin: 0 10px 0 0;
}

.SideBar-filter-form {
  text-align: center;
  width: 246px;
  margin: 30px 29px;
}

.SideBar input[type="submit"] {
  width: 50%;
  border: 0;
  background-color: orange;
  color: white;
  height: 35px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  transition: width 0.25s;
  &:hover {
    width: 55%;
  }
  &:focus {
    outline: transparent;
  }
}