.Route {
  /* border: 1px solid black; */
  padding: 15px;
}

.route-name {
  margin: 0 0 15px 0; 
  font-size: 20px;
}

.route-info-container {
  border: 1px solid red;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.route-info-container > * {
  margin: 0;
}

.route-type {
  text-transform: capitalize;
}