.Route {
  padding: 15px;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.Route-name {
  margin: 0 0 15px 0; 
  font-size: 20px;
}

.Route-info-container {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.Route-info-container > * {
  margin: 0;
}

.Route-type {
  text-transform: capitalize;
}

.Route-favorite-button {
  cursor: pointer;
}

.Route-favorited {
  color: red;
}