.SideBar {
  border-radius: 5px;
  /* border: 1px solid #d8d9db; */
  /* box-shadow: 0 0 1px lightgrey; */
  grid-column-end: 2;
  grid-column-start: 1;
  padding: 25px 25px 25px 0;
  width: 100%;
}

.SideBar legend {
  font-size: 20px;
}

.SideBar fieldset {
  border: 0;
  border-radius: 5px;
}

.SideBar fieldset > div,
.SideBar fieldset > select {
  margin: 10px 20px;
}

.SideBar fieldset input {
  margin: 0 10px 0 0;
}