.App {
  background-color: #f4f4f4;
  margin: auto;
}

.module {
  background-color: white;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d8d9db;
  box-shadow: 0 0 1px lightgrey;
  padding: 25px;
  padding: 25px;
  width: 100%;
  width: 100%;
}

.App-header {
  align-items: center;
  background-image: linear-gradient(hsla(0,0,0,0.5), hsla(0,0,0,0.5)), url('https://images.unsplash.com/photo-1468173376803-727a153c27ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  position: relative;
  width: 100vw;
}

.App-arrow-container {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background: none;
  border-radius: 100%;
  border: none;
  bottom: 25px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  transform-origin: bottom;
  &:focus {
    outline: transparent;
  }
}

.App-down-arrow {
  color: orange;
  font-size: 80px;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}