html {
  margin: 0;
  padding: 0;
}


.App-header {
  background-image: url('./images/climbon.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  text-align: center;
}
